
<% @movies.take(20).each do |movie| %>
  <ul class="movie">
    <li class="title"><%= "Title: #{movie[:title]}" %></li>
    <li class="vote"><%= "Average vote: #{movie[:vote_average]}" %></li>
  </ul>
<% end %>