---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<themoviedb>&query=Kung%20Fu%20Panda%204
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 68f0f570564caee656723014d9e5c5a2
      X-Memc-Age:
      - '20250'
      X-Memc-Expires:
      - '8202'
      Etag:
      - W/"0fec41d496fb337909baf9812d978434"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/1XDDXPXGiI8id7MrUxK36ke7gkX.jpg","genre_ids":[28,12,16,35,10751],"id":1011985,"original_language":"en","original_title":"Kung
        Fu Panda 4","overview":"Po is gearing up to become the spiritual leader of
        his Valley of Peace, but also needs someone to take his place as Dragon Warrior.
        As such, he will train a new kung fu practitioner for the spot and will encounter
        a villain called the Chameleon who conjures villains from the past.","popularity":5151.423,"poster_path":"/wkfG7DaExmcVsGLR4kLouMwxeT5.jpg","release_date":"2024-03-02","title":"Kung
        Fu Panda 4","video":false,"vote_average":6.9,"vote_count":231},{"adult":false,"backdrop_path":null,"genre_ids":[16,10751],"id":283332,"original_language":"en","original_title":"Kung
        Fu Panda - The Midnight Stranger Vol.4","overview":"","popularity":15.139,"poster_path":"/3RzNHWFRi9cirAWkt07vHFf1F8o.jpg","release_date":"2014-06-01","title":"Kung
        Fu Panda - The Midnight Stranger Vol.4","video":true,"vote_average":5.4,"vote_count":8},{"adult":false,"backdrop_path":"/e5O854T0ejt1SuFs7WPEhrTrnLh.jpg","genre_ids":[10751,16,35],"id":381547,"original_language":"en","original_title":"Kung
        Fu Panda: Legends of Awesomeness (Good Croc, Bad Croc)","overview":"Po gets
        suckered by Fung to break into a castle","popularity":15.592,"poster_path":"/hTCMyh1PJdzide0X5GYouXds3vq.jpg","release_date":"2011-11-10","title":"Kung
        Fu Panda: Legends of Awesomeness (Good Croc, Bad Croc)","video":true,"vote_average":6.3,"vote_count":10}],"total_pages":1,"total_results":3}'
  recorded_at: Fri, 22 Mar 2024 16:52:31 GMT
recorded_with: VCR 6.2.0
